gunicorn==19.7.1
gevent==1.2.2

# CKAN Extensions
ckanext-pdfview

-e git+https://github.com/CodeForAfrica/ckanext-openafrica.git#egg=ckanext-openafrica

-e git+https://github.com/CodeForAfricaLabs/ckanext-datarequests.git#egg=ckanext-datarequests
-e git+https://github.com/CodeForAfricaLabs/ckanext-s3filestore#egg=ckanext-s3filestore

-e git+https://github.com/okfn/ckanext-envvars.git#egg=ckanext-envvars
-e git+https://github.com/ckan/ckanext-showcase.git#egg=ckanext-showcase
-e git+https://github.com/ckan/ckanext-issues.git#egg=ckanext-issues

-e git+https://github.com/ckan/ckanext-harvest.git@v1.1.4#egg=ckanext-harvest
-e git+https://github.com/ckan/ckanext-dcat.git#egg=ckanext-dcat

-e git+https://github.com/OpenUpSA/ckanext-gdoc.git#egg=ckanext-gdoc
-e git+https://github.com/jqnatividad/ckanext-officedocs.git#egg=ckanext-officedocs
