gunicorn==19.7.1
gevent==1.2.2

# CKAN Extensions

-e git+https://github.com/CodeForAfrica/ckanext-openafrica.git@ft/ui-changes#egg=ckanext-openafrica
# -e git+https://github.com/CodeForAfrica/ckanext-openafrica.git#egg=ckanext-openafrica

# -e git+https://github.com/CodeForAfrica/ckanext-openafrica.git#egg=ckanext-openafrica

-e git+https://github.com/okfn/ckanext-envvars.git@0.0.1#egg=ckanext-envvars
-e git+https://github.com/okfn/ckanext-s3filestore.git@v0.1.1#egg=ckanext-s3filestore

-e git+https://github.com/ckan/ckanext-showcase.git@v1.1.0#egg=ckanext-showcase
-e git+https://github.com/conwetlab/ckanext-datarequests.git@v1.1.0#egg=ckanext-datarequests

-e git+https://github.com/ckan/ckanext-issues.git#egg=ckanext-issues

-e git+https://github.com/ckan/ckanext-harvest.git@v1.2.1#egg=ckanext-harvest
-e git+https://github.com/ckan/ckanext-dcat.git@v1.1.3#egg=ckanext-dcat

-e git+https://github.com/ckan/ckanext-pdfview.git@0.0.5#egg=ckanext-pdfview

-e git+https://github.com/OpenUpSA/ckanext-gdoc.git#egg=ckanext-gdoc
-e git+https://github.com/jqnatividad/ckanext-officedocs.git#egg=ckanext-officedocs

-e git+https://github.com/okfn/ckanext-sentry.git@d3b1d1cf1f975b3672891012e6c75e176497db8f#egg=ckanext-sentry
