{% trans %}

<p>The openAFRICA platform initiative aims to be largest repository of Data on the Africa Continent. We are creating a Library of Congress of Data for African for use by Citizens, Media, Activists, Governments and Civil Society. The Platform will also provide structured linked data with a robust API (Application Programming Interface) that will allow Developers to build applications. The Platform will have a rating system that will rate uploaded Datasets according to <a href="http://www.w3.org/DesignIssues/LinkedData.html" target="_blank">5 star deployment scheme</a> for Open Data.</p>

<p>openAFRICA is part of the Ujuzi Initiative which is created and funded by the <a href="http://africanmediainitiative.org" target="_blank">African Media Initiative (AMI)</a>, the <a href="http://wbi.worldbank.org" target="_blank">World Bank Institute (WBI)</a> and <a href="http://google-africa.blogspot.com/" target="_blank">Google</a>. The program is implemented by <a href="http://www.codeforafrica.org" target="_blank">Code for Africa</a>.</p>

{% endtrans %}
