{% trans %}

<p>This website is run by <a href="http://www.codeforafrica.org" target="_blank">Code for Africa</a> as part of the Ujuzi Initiative which is created and funded by the <a href="http://africanmediainitiative.org" target="_blank">Africa Media Initiative (AMI)</a>, <a href="http://wbi.worldbank.org" target="_blank">the World Bank Institute (WBI)</a> and <a href="http://google-africa.blogspot.com/" target="_blank">Google</a>. It is our intention that the website is usable and accessible to all users. </p>

<p><b>Feedback</b></p>

<p>We very much welcome and actively encourage your feedback on this site. The site is being developed in a phased approach so we encourage you to provide feedback to ensure that future iterations meet your needs. </p>

<p>We will not pass on any of your personal information when dealing with your enquiry, unless you have given us permission to do so. Once we have replied to you, we keep a record of your message for audit purposes.</p>

<p><a href="/about/contact-us"><i class="icon-bullhorn"></i> Contact Us</a></p>

<p><b>Changes to this privacy policy</b></p>

<p>If this privacy policy changes in any way, we will place an updated version on this page. Regularly reviewing this page ensures you are always aware of what information we collect, how we use it and under what circumstances, if any, we will share it with other parties.</p>

<br />

<p>** Attribution of content - <a href="http://data.gov.uk" target="_blank">data.gov.uk</a></p>
{% endtrans %}
