{% trans %}
<p>The data is provided to you the developers for you to develop applications which will make the world a better place, providing more or improved utility for the general public based on public sector datasets. We are here to help you do the great things we know you’re itching to do, but, as part of this being a trusted space in which we work together, there are some basic rules.</p>

<p>You are encouraged to:</p>
<ul>
<li>use provided live sources for the datasets as your primary data source, where possible – much of the data provided is dynamic and fluid (although in many cases over an annual or longer period of time), and basing your application on the keys in the data we are providing will ensure that your application is as up to date as possible;</li>

<li>where using our data feeds, please if possible cache the data over a short period of time to reduce load both on your application and our servers;</li>

<li>where you cannot use our live sources as the primary data source, please still use the keys contained within the data as the primary or foreign keys within your application, as this will enable you to migrate as simply as possible to up-to-date data and information when it is made available;</li>

<li>where using your own long-term caches of our data, please refresh the data within your application in a timely manner when a new set of the data is made available;</li>

<li>engage with us when something’s wrong – point out any inconsistencies in the data you find, make suggestions about how to improve the service, request new data sources to be added, and tell us about what you have built so we can help you to promote it!</li>
</ul>

<p>You should:</p>
<ul>
<li>refer back to and cite the origin or source of the data when using it;
clearly state where possible about which data is derived from official sources, which is from other sources, and which data is from any calculation within or out with your app.</li>
</ul>

<p>You must not:</p>
<ul>
<li>make an application that pretends to be an official government service;
present the data in a misleading or incorrect manner or to misrepresent or change the data;</li>

<li>use this site for party political purposes, as the site paid for with public money so it is not appropriate to engage in party-political activity here;</li>

<li>use these materials in or to support a criminal or illicit activity;</li>

<li>use these materials on an application to inflame or make comments that are racist, sexist or homophobic, or which promote or incite violence or illegal activity.</li>
</ul>

<p><b>Participation Guidelines</b></p>

<p>When posting comments about ideas or applications, or posting to the site forum, please observe our site participation guidelines:</p>

<ul>
<li>Be respectful of other users of this site</li>
<li>Stay on topic and do not upload content that is unrelated to the purpose of this site.</li>
<li>Do not use language that is offensive, inflammatory or provocative (this includes swearing and obscene or vulgar comments)</li>
<li>Do not select a user name that is offensive, inflammatory or provocative</li>
<li>Do not break the law (this includes libel, condoning illegal activity and contempt of court)</li>
<li>In the course of using the community areas of this site, please do not post personal information – addresses, phone numbers, email addresses or other online contact details – relating either to you or other individuals</li>
<li>Do not register more than one user account per person</li>
<li>Do not impersonate or falsely claim to represent a person or an organisation. Do not attempt to log on using another user’s account</li>
<li>Do not make any commercial endorsement or promotion of any product, service or publication not relevant to the discussion</li>
<li>Do not post in a language other than English</li>
</ul>

<p>If you are aged 16 or under, please get your parent’s/guardian’s permission before participating. Users without this consent are not allowed to participate or provide us with personal information.</p>

<br />

<p>** Attribution of content - <a href="http://data.gov.uk" target="_blank">data.gov.uk</a></p>
{% endtrans %}
