{% trans %}

<ol>
<li><a href="#1">What is the project doing?</a></li>
<li><a href="#2">What is the status of this site?</a></li>
<li><a href="#3">Will personal information be at risk?</a></li>
<li><a href="#4">What is a mashup?</a></li>
<li><a href="#5">What is Linked Data and how does it fit into the Semantic Web?</a></li>
<li><a href="#6">How can people submit applications and visualisations?</a></li>
<li><a href="#7">How can people submit ideas?</a></li>
<li><a href="#8">How can people use data.gov.uk?</a></li>
<li><a href="#9">How were the datasets in data.gov.uk selected?</a></li>
<li><a href="#10">Why is a particular dataset not available yet, and when will it be?</a></li>
<li><a href="#11">Why is a particular dataset not available through an API yet, and when will it be?</a></li>
<li><a href="#12">How can people make contact with the project?</a></li>
<li><a href="#13">Is there a place for developers to discuss ideas, applications and using the data?</a></li>
<li><a href="#14">Will more public data become available in the future?</a></li>
<li><a href="#15">What are the commercial use rights if people have commercial ideas?</a></li>
<li><a href="#16">Under what licence is the data available?</a></li>
<li><a href="#17">Are there any “do”s and “don’t”s?</a></li>
</ol>

<a name="1"></a><p><b>Q. What is the project doing?</b></p>
 
<p>A.The openAFRICA platform aims to be largest repository of Data on the Africa Continent. We are creating a Library of Congress of Data for African for use by Citizens, Media, Activists, Governments and Civil Society. This is only about non-personal, non-sensitive data – information like the list of schools, crime rates or the performance of your council. The site is the first step in creating a network of reusable and Linked Data that will also tie into the various Ujuzi initiatives.</p>
 
<a name="2"></a><p><b>Q. What is the status of this site?</b></p>
 
<p>A. The openAFRICA platform is still in Beta. Since then we have launched a number of enhancements which you can read about via the blog. Developments are continuing across the site so do check back regularly and of course please tell us what you think. We welcome your feedback</p>
 
<a name="3"></a><p><b>Q. Will personal information be at risk?</b></p>
 
<p>A. The data we publish here, and on related websites, will not identify or provide ways to identify individuals, unless that information is already published (like head teachers of schools).</p>
 
<a name="4"></a><p><b>Q. What is a mashup?</b></p>
 
<p>A. A mashup is a web page or, more usually, a web application that combines data or code from two or more sources. It provides information or functionality beyond that designed or envisaged by the original producers of the data. The attraction of data mashing lies in the ease and speed with which new web applications can be launched with limited resources. People also create visualisations – pictures that show the data in clear, imaginative ways and tell a story about the underlying information. For example, a mashup combining data sources such as school addresses and school league tables to display the results using a mapping tool could show where high-achieving schools are. This would be of interest to parents of school-age children who are considering moving house. We expect that new and exciting mashups will be the main product of collaboration through this website: be inventive and make things.</p>
 
<a name="5"></a><p><b>Q. What is Linked Data and how does it fit into the Semantic Web?</b></p>
 
<p>A. The Semantic Web is an evolution of the World Wide Web that, rather than just linking from one document to another, focuses on their meaning in relation to each other. Linked Data is a set of technologies to achieve this for data, creating a web of data.</p>

<p>Here is Sir Tim Berners-Lee explaining the Semantic Web at TED this year:</p>
<blockquote>
	<p>While the technical details are complicated, and very well explained by resources like Jeni Tennison’s practitioner’s blog or the Talis platform wiki, the important thing is how it enables people to exchange links to information and the context for that information.</p>
	<small>Tim Berners-Lee</small>
</blockquote>

<a name="6"></a><p><b>Q. How can people submit applications and visualisations?</b></p>
 
<p>A. Go to the Apps Page, where you’ll find information on all applications and visualisations that people have submitted so far, a link for submitting your own application and facilities for joining in discussions.</p>
 
<a name="7"></a><p><b>Q. How can people submit ideas</b></p>
 
<p>A. This site is not just for people with technical know-how; it’s also for people who might have a good idea for an application, but aren’t in a position to build it themselves. Go to the ideas page where you’ll find all the ideas that people have submitted and the facility to submit yours.</p>
 
<a name="8"></a><p><b>Q. How can people use data.gov.uk?</b></p>
 
<p>A. The Open Africa Platform uses a search engine to offer several ways of finding the data you want. You can view all the datasets to see everything that is currently available, or search by keyword, category or department / agency. Each dataset provides guidance on accessing its data. You can also browse datasets by public body, by nation, a-z listing, as well as subject tags.</p>
 
<a name="9"></a><p><b>Q. How were the datasets in data.gov.uk selected?</b></p>
 
<p>A. Excluding personal and sensitive information, all information created by public sector bodies, other Government Agencies, Donor Agencies, International Institutions, Civil Society Organizations,to name a few is, in principle, available for re-use.</p>

<a name="10"></a><p><b>Q. Why is a particular dataset not available yet?</b></p>
 
<p>A. Given the vast volumes of data, it is difficult to get all Data however our aim is to get as much high value Datasets as we possibly can.</p>

<a name="11"></a><p><b>Q. Why is a particular dataset not available through an API yet, and when will it be?</b></p>
 
<p>A. The W3C guidance on opening up government data suggests that data should be published in its original raw format so that it’s available for re-use as soon as possible. Over time, we will convert datasets to use Linked Data standards for easy re-use.</p>
 
<a name="12"></a><p><b>Q. How can people make contact with the project?</b></p>
 
<p>A. We will provide developer community members who register through our Google Group with project updates. You can also follow the project on Twitter and by reading the blog pages. To keep up with the latest progress and developments, check the posts on the apps page and ideas page discussion boards.</p>
 
<a name="13"></a><p><b>Q. Is there a place for developers to discuss ideas, applications and using of the data?</b></p>
 
<p>A. Yes, the Google Group is for that purpose. We realise that you’ll want to ask us and each other questions and we’ll try and help as best we can. There is also a wiki where you can work together to share techniques, ideas, problems and tools, using data from various sources to help people understand and get more from their area, issues of interest, and the world we live in.</p>
 
<a name="14"></a><p><b>Q. Will more public data become available in the future?</b></p>
 
<p>A. Yes, this is just the start. As the project matures, more data will flow on to the site.
 
<a name="15"></a><p><b>Q. What are the commercial use rights if people have commercial ideas?</b></p>
 
<p>A. The Open Government License enables you to use all our data for commercial purposes. We are delighted that you see a commercial opportunity in using our data.</p>
 
<a name="16"></a><p><b>Q. Under what licence is the data available?</b></p>
 
<p>A. In general, the data is licensed under the Open Government License. You can read more details on what that means on our Licence Page.</p>
 
<a name="17"></a><p><b>Q. Are there any “do”s and “don’t”s?</b></p>
 
<p>A. We have a simple code of conduct, relating to your use of the data in your application. It covers how to relate your application data to the data we provide, and simple common-sense usage of the data.</p>

<br />

<p>** Attribution of content - <a href="http://data.gov.uk" target="_blank">data.gov.uk</a></p>
{% endtrans %}
