<a href="http://www.codeforafrica.org" target="_blank"><img src="/images/logos/c4a.png" style="height: 100px;"/></a>
<a href="https://olc.worldbank.org" target="_blank"><img src="/images/logos/wbg.png" style="height: 70px;"/></a>
<a href="http://okfn.org" target="_blank"><img src="/images/logos/ok.png" style="height: 120px;"/></a>
<br/>
<a href="http://icfj.org" target="_blank"><img src="/images/logos/icfj.png" style="height: 75px;"/></a>
<a href="http://google-africa.blogspot.com/" target="_blank"><img src="/images/logos/google.png" style="height: 100px;"/></a>
