{% trans %}
<p><b>Your personal data:</b> From time to time, you may be asked to submit personal information about yourself (e.g. name and e-mail address) in order to receive or use services on our website. Such services include e-mail updates, website feedback, or suggesting an idea / application.</p>

<p>By entering your details in the fields requested, you enable openAFRICA and its service providers to provide you with the services you select. Any personal information you provide to us will only be used by us, our agents and service providers, and will not be disclosed unless we are obliged or permitted to by law to do so.</p>

<p>If you post or send offensive, inappropriate or objectionable content anywhere on this site, we may use whatever information about you is available to us to stop such behaviour.</p>

<p>We will hold your personal information on our systems for as long as you use the service you have requested, and remove it in the event that the purpose has been met or when you no longer wish to continue your subscription.</p>

<br />

<p>** Attribution of content - <a href="http://data.gov.uk" target="_blank">data.gov.uk</a></p>
{% endtrans %}
