<div class="subscription">
  <div class="message">
    <label id="msg">Join the openAFRICA Community</label>
<p>We will not spam or share your email with third parties</p>
  </div>
<form action="//codeforafrica.us6.list-manage.com/subscribe/post?u=65e5825507b3cec760f272e79&amp;id=c2ff751541" class="input-lg form-inline" method="post" name="mc-embedded-subscribe-form" target="_black" role="form" novalidate>
    <div class="mail form-group">
        <input id="email" class="form-control" type="email" value="" name="EMAIL" placeholder="contact@codeforafrica.org" required>
    </div>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_edb21ee4f7098f8db239eea63_10162bafef" tabindex="-1" value=""></div>
    <div class="send form-group">
        <input type="submit" class="button button-orange" id="subscribe_me" value="Subscribe" name="subscribe">
    </div>
  </form>
</div>

