{% trans %}
<p>The data and information available through openAFRICA are available under terms described in the “licence” or "constraints" field of individual dataset records (meta-data). Except where otherwise noted this is Open Government License.</p>

<p>We want the information on this site to be open and as easy to re-use as possible. When you submit information to this site we will work on the basis, unless you clearly state otherwise alongside your work, that you are granting the us a non-exclusive, irrevocable right to use and pass on all public information that you submit (for example descriptions of your ideas and screenshots of your apps) as well as the right to allow the re-use of that information.</p>

<p>This is so that we can place the contents of this site under the same permissive licence terms as above. Your ideas and applications remain your own. Please check the terms and conditions of the third party websites linked from the openAFRICA platform.</p>

<p>The accuracy of information from any third party sites published on openAFRICA is the responsibility of those sites.</p>

<br />

<p>** Attribution of content - <a href="http://data.gov.uk" target="_blank">data.gov.uk</a></p>
{% endtrans %}
